
.toggle-path {
    transition: background 0.3s ease-in-out;
}
.toggle-circle {
    left: 0.25rem;
    top: 0.1rem;
    transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle-circle {
    transform: translateX(100%);
}

input:checked ~ .toggle-path {
    background-color:#7614F5;
}

input:checked ~ .toggle-circle {
    background-color:#121212 !important;
}

/* Numbers */
input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }


/* Dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 99;
  }
  